<nav class="navbar">
    <ul class="navbar__links">
        <a class="navbar__link" href="/">Home</a>
        <a class="navbar__link" href="/contact">Contact</a>
        <a class="navbar__link" href="/auth/login">Login</a>
        <a class="navbar__link" href="/auth/signup">SignUp</a>
        <!--
        <a class="navbar__link" href="/filters">Filters</a>
        <a class="navbar__link" href="/persona">Persona</a>
        <a class="navbar__link" href="/personaObject">ORendering</a>
        <a class="navbar__link" href="/personas/description">Description</a>
        <a class="navbar__link" href="/search">Search!</a>
        <a class="navbar__link" href="/personas/create">CREATE Persona 2!</a>
        <a class="navbar__link" href="/anotherAdd">AnotherAdd</a>
        <a class="navbar__link" href="/personas/create">CREATE Persona</a>
        <a class="navbar__link" href="/personas/edit">Edit Persona</a>
        <a class="navbar__link" href="/personas">Listing</a>
        -->
        <a class="navbar__link" href="/estudiantes">Estudiantes</a>
        <a class="navbar__link" href="/estudiantes/create">Create Estudiante</a>
        <a class="navbar__link" href="/estudiantes/query">query</a>
    </ul>
</nav>