{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        Here goes your title
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    {% include '../components/header.html' %}
    {% include '../components/navbar.html' %}
    <main class="main">
        <div class="leftcolumn">
            {% block content %}
                Here goes your content
            {% endblock %}
        </div>
        <div class="rightcolumn">
            <aside>
                Here goes some content of your choice
            </aside>
        </div>
    </main>
    {% include '../components/footer.html' %}
</body>
</html>